.container {
  display: flex;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: flex-start; 
  height: auto; 
  width: 100%; 
  max-width: 1100px;  
  margin: 20px auto;  
}

.leftSection {
  flex: 1;
  margin-right: 10px;
  height: 400px;
}

.poster {
  width: 100%;
  height: 100%; 
  object-fit: cover;  
}

.rightSection {
  flex: 1;
  padding-left: 20px;
  height: auto;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

.rating {
  font-size: 18px;
  color: rgb(113, 113, 113);
}

.genres {
  margin-top: 10px;
  border-bottom: 2px solid #e0e0e0; 
  padding-bottom: 10px; 
}

.genre {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 30px; 
  background-color: #f0f0f0;
  font-size: 14px;
}

.overview {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.loading {
  text-align: center;
  font-size: 20px;
  color: #333;
  padding: 50px;
}

.error {
  text-align: center;
  font-size: 20px;
  color: red;
  padding: 50px;
}
